body{
    margin: 0;
}
header {    
    padding:0.1px;
    margin: 0;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: linear-gradient(to right,#8008ad, #a20adc,#da7dfe);
}
.title {
    font-family: Arial;
    font-size: 37px;
    font-weight: 900;
    text-align: left; 
    padding-left: 15px;
    color: white;
}
.menu{
    display: flex;
    gap: 15px;
}
.menu button {
    width: 160px;
    height: 50px;
    background-color: #4f036a;
    border-radius: 45px;
    text-align: center;
    margin: auto 10px;
    transition: background-color 0.5s;
    border-style: none;
}
.menubuttontext {
    margin: 0;
    padding:1px;
    font-family: Arial;
    font-size: 27px;
    font-weight: 900;
    text-align: center; 
    color: white;
}
.menu button:hover{
    background-color: #7406a0;
    cursor: pointer;
}
.role {
    font-family: Arial;
    font-size: 27px;
    font-weight: 400;   
    color: white;
    padding-right: 15px;
}
.role::first-letter {
    color: rgb(6, 237, 6);
}
.content {
    display: flex;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: white;
    border: 1px solid #343235;
    display: flex;
    padding-top: 31%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sidebar button {
    background-color: white;
    width: 45px;
    height: 40px;
}
.sidebar button:hover {
    cursor: pointer;
}