.filters {
    position: absolute;
    right: 0;
    width: 300px;
    height: 800px;
    background-color: #a56ad7;
    border-radius: 15px;
    margin: 25px 0px 0px 25px;
    padding-top: 30px;
    padding-left: 25px;
}
.filtersText
{
    text-align: center;
    font-family: Arial;
    font-size: 45px;
    font-weight: 400;
    color: white;
    letter-spacing: 10px;
    padding-bottom: 20px;
}
.filterName {
    padding-left: 5px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    color: white;
}
